@model TagHelpersAndViewComponents.Models.Person
@{
    ViewData["Title"] = "Tag Helpers and ViewComponent Example";
}

<h4>Map Tag Helper</h4>
<map name="mapTagHelper" height="300" width="600"></map>

<br /><br />

<customerCard firstName="@Model.FirstName"
              lastName="@Model.LastName"></customerCard>

<br />
<h4>Customers View Component (using Component.InvokeAsync)</h4>

@await Component.InvokeAsync("Customers", new { max = 10 }) 

<br /><br />
<h4>Customers View Component (using Component Tag)</h4>

<vc:customers max="10"></vc:customers>


